body {
  background: #fff;
  margin: 0 0;
  padding:10px;
  text-align:center;
  overflow: hidden;
}

#videobcg {
   position: absolute;
   top: -15px;
   left: -15px;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   /*max-width: 150%;
   max-height: 100%;*/
   z-index: -1000;
   overflow: hidden;
    -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(15px);
}

.logo {
  padding-top: 100px;
  font-size: 40px;
  font-family: fantasy;
}
